:root {
  --color-violet-50: #faf5ff;
  --color-violet-100: #e9d8fd;
  --color-violet-200: #d6bcfa;
  --color-violet-300: #b794f4;
  --color-violet-400: #9f7aea;
  --color-violet-500: #805ad5;
  --color-violet-600: #6b46c1;
  --color-violet-700: #553c9a;
  --color-violet-800: #44337a;
  --color-violet-900: #322659;
  --color-violet-base: #805ad5;
  --color-space-50: #d1d1d3;
  --color-space-100: #c1c1c4;
  --color-space-200: #b1b2b6;
  --color-space-300: #a1a2a7;
  --color-space-400: #929398;
  --color-space-500: #828389;
  --color-space-600: #73747a;
  --color-space-700: #64656a;
  --color-space-800: #55565a;
  --color-space-900: #46474a;
  --color-space-base: #828389;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
