$color-primary: #472887;
$color-primary-50: #9373d5;
$color-primary-100: #815bce;
$color-primary-200: #6e43c7;
$color-primary-300: #6036b6;
$color-primary-400: #532f9f;
$color-primary-500: #472887;
$color-primary-600: #3b216f;
$color-primary-700: #2e1a58;
$color-primary-800: #221340;
$color-primary-900: #150c29;
$color-vida-loca: #4f8728;
$color-vida-loca-50: #9bd573;
$color-vida-loca-100: #8ace5b;
$color-vida-loca-200: #7ac743;
$color-vida-loca-300: #6bb636;
$color-vida-loca-400: #5d9f2f;
$color-vida-loca-500: #4f8728;
$color-vida-loca-600: #416f21;
$color-vida-loca-700: #33581a;
$color-vida-loca-800: #264013;
$color-vida-loca-900: #18290c;
$color-sea-green: #288753;
$color-sea-green-50: #73d59f;
$color-sea-green-100: #5bce8f;
$color-sea-green-200: #43c77f;
$color-sea-green-300: #36b670;
$color-sea-green-400: #2f9f62;
$color-sea-green-500: #288753;
$color-sea-green-600: #216f44;
$color-sea-green-700: #1a5836;
$color-sea-green-800: #134027;
$color-sea-green-900: #0c2919;
$color-camelot: #872849;
$color-camelot-50: #d57395;
$color-camelot-100: #ce5b83;
$color-camelot-200: #c74371;
$color-camelot-300: #b63663;
$color-camelot-400: #9f2f56;
$color-camelot-500: #872849;
$color-camelot-600: #6f213c;
$color-camelot-700: #581a2f;
$color-camelot-800: #401323;
$color-camelot-900: #290c16;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$font-size-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$font-size-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$font-size-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-primary: #472887;
  --color-primary-50: #9373d5;
  --color-primary-100: #815bce;
  --color-primary-200: #6e43c7;
  --color-primary-300: #6036b6;
  --color-primary-400: #532f9f;
  --color-primary-500: #472887;
  --color-primary-600: #3b216f;
  --color-primary-700: #2e1a58;
  --color-primary-800: #221340;
  --color-primary-900: #150c29;
  --color-vida-loca: #4f8728;
  --color-vida-loca-50: #9bd573;
  --color-vida-loca-100: #8ace5b;
  --color-vida-loca-200: #7ac743;
  --color-vida-loca-300: #6bb636;
  --color-vida-loca-400: #5d9f2f;
  --color-vida-loca-500: #4f8728;
  --color-vida-loca-600: #416f21;
  --color-vida-loca-700: #33581a;
  --color-vida-loca-800: #264013;
  --color-vida-loca-900: #18290c;
  --color-sea-green: #288753;
  --color-sea-green-50: #73d59f;
  --color-sea-green-100: #5bce8f;
  --color-sea-green-200: #43c77f;
  --color-sea-green-300: #36b670;
  --color-sea-green-400: #2f9f62;
  --color-sea-green-500: #288753;
  --color-sea-green-600: #216f44;
  --color-sea-green-700: #1a5836;
  --color-sea-green-800: #134027;
  --color-sea-green-900: #0c2919;
  --color-camelot: #872849;
  --color-camelot-50: #d57395;
  --color-camelot-100: #ce5b83;
  --color-camelot-200: #c74371;
  --color-camelot-300: #b63663;
  --color-camelot-400: #9f2f56;
  --color-camelot-500: #872849;
  --color-camelot-600: #6f213c;
  --color-camelot-700: #581a2f;
  --color-camelot-800: #401323;
  --color-camelot-900: #290c16;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
