.shimmer {
  color: grey;
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/500%
    100%;
  background-repeat: no-repeat;
  animation: shimmer 1.5s infinite;
  max-width: 250px;
  animation-timing-function: linear;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

.progress-bar-container {
  background-color: #e7e9ee;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  background-color: #000000;

  position: absolute;
  bottom: 0;
  top: 0;
  width: 50%;

  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
  animation-timing-function: ease-in-out;
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.full-page-loading {
  animation-name: fade-in;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
