packages/server/src/api/generated/** linguist-generated linguist-vendored
packages/packages/mirrorful/cli/client/** linguist-generated linguist-vendored
packages/postman/collection.json linguist-generated linguist-vendored