$color-purple: #633fd3;
$color-purple-50: #c8bbf0;
$color-purple-100: #b4a3ea;
$color-purple-200: #a08ae4;
$color-purple-300: #8b71de;
$color-purple-400: #7758d9;
$color-purple-500: #633fd3;
$color-purple-600: #532dc6;
$color-purple-700: #4828ad;
$color-purple-800: #3e2294;
$color-purple-900: #331c7b;
$color-blue: #3c55a9;
$color-blue-50: #a1afdd;
$color-blue-100: #8a9bd5;
$color-blue-200: #7388cd;
$color-blue-300: #5d75c5;
$color-blue-400: #4662bd;
$color-blue-500: #3c55a9;
$color-blue-600: #344a92;
$color-blue-700: #2c3e7c;
$color-blue-800: #243365;
$color-blue-900: #1c284f;
$color-background: #040013;
$color-background-50: #2400ac;
$color-background-100: #1e008d;
$color-background-200: #17006f;
$color-background-300: #110050;
$color-background-400: #0a0032;
$color-background-500: #040013;
$color-background-600: #000000;
$color-background-700: #000000;
$color-background-800: #000000;
$color-background-900: #000000;
$color-gray: #bebebe;
$color-gray-50: #ffffff;
$color-gray-100: #fbfbfb;
$color-gray-200: #ececec;
$color-gray-300: #dddddd;
$color-gray-400: #cdcdcd;
$color-gray-500: #bebebe;
$color-gray-600: #afafaf;
$color-gray-700: #9f9f9f;
$color-gray-800: #909090;
$color-gray-900: #818181;

:root {
  --color-purple: #633fd3;
  --color-purple-50: #c8bbf0;
  --color-purple-100: #b4a3ea;
  --color-purple-200: #a08ae4;
  --color-purple-300: #8b71de;
  --color-purple-400: #7758d9;
  --color-purple-500: #633fd3;
  --color-purple-600: #532dc6;
  --color-purple-700: #4828ad;
  --color-purple-800: #3e2294;
  --color-purple-900: #331c7b;
  --color-blue: #3c55a9;
  --color-blue-50: #a1afdd;
  --color-blue-100: #8a9bd5;
  --color-blue-200: #7388cd;
  --color-blue-300: #5d75c5;
  --color-blue-400: #4662bd;
  --color-blue-500: #3c55a9;
  --color-blue-600: #344a92;
  --color-blue-700: #2c3e7c;
  --color-blue-800: #243365;
  --color-blue-900: #1c284f;
  --color-background: #040013;
  --color-background-50: #2400ac;
  --color-background-100: #1e008d;
  --color-background-200: #17006f;
  --color-background-300: #110050;
  --color-background-400: #0a0032;
  --color-background-500: #040013;
  --color-background-600: #000000;
  --color-background-700: #000000;
  --color-background-800: #000000;
  --color-background-900: #000000;
  --color-gray: #bebebe;
  --color-gray-50: #ffffff;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #ececec;
  --color-gray-300: #dddddd;
  --color-gray-400: #cdcdcd;
  --color-gray-500: #bebebe;
  --color-gray-600: #afafaf;
  --color-gray-700: #9f9f9f;
  --color-gray-800: #909090;
  --color-gray-900: #818181;
}
