
.mirrorful-radioItem-container {
    display: flex;
    align-items: center;
  }
  
  .mirrorful-radioItem-label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  
    .mirrorful-radioItem-input {
      position: absolute;
      height: 14px;
      width: 14px;
      opacity: 0;
      cursor: pointer;
    }
  
    .mirrorful-radioItem {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: 1.5px;
      border-color: var(--mirrorful-neutral-100);
      border-radius: 50%;
    }
  
    .mirrorful-radioItem-input:not(:checked):hover + .mirrorful-radioItem {
      background-color: var(--mirrorful-neutral-100);
    }
  
    .mirrorful-radioItem-input:not(:checked):active + .mirrorful-radioItem {
      background-color: var(--mirrorful-primary-100);
      border-color: var(--mirrorful-primary-300);
    }
  
    .mirrorful-radioItem-input:not(:checked):disabled + .mirrorful-radioItem {
      background-color: var(--mirrorful-neutral-100);
      border-color: var(--mirrorful-neutral-100);
    }
  
    .mirrorful-radioItem-input:checked + .mirrorful-radioItem {
      background-color: var(--mirrorful-primary-300);
      border-color: var(--mirrorful-primary-300);
  
      .mirrorful-checkmark {
        color: #ffffff;
      }
    }
  
    .mirrorful-radioItem-input:checked + .mirrorful-radioItem {
      .mirrorful-inner-circle {
        display: block;
      }
    }
  
    .mirrorful-radioItem-input:checked:hover + .mirrorful-radioItem {
      background-color: var(--mirrorful-primary-500);
      border-color: var(--mirrorful-primary-500);
    }
  
    .mirrorful-radioItem-input:checked:active + .mirrorful-radioItem {
      background-color: var(--mirrorful-primary-100);
      border-color: var(--mirrorful-primary-300);
    }
  
    .mirrorful-radioItem-input:checked:disabled + .mirrorful-radioItem {
      background-color: var(--mirrorful-neutral-100);
      border-color: var(--mirrorful-neutral-100);
    }
  
    .mirrorful-radioItem-label-text {
      margin-left: 8px;
      color: var(--mirrorful-neutral-500);
    }
  
    .mirrorful-radioItem-label-text-sm {
      font-size: 12px;
    }
  
    .mirrorful-radioItem-label-text-md {
      font-size: 14px;
    }
  
    .mirrorful-radioItem-input:checked ~ .mirrorful-radioItem-label-text {
      color: var(--mirrorful-primary-300);
    }
  
    .mirrorful-radioItem-input:checked:hover ~ .mirrorful-radioItem-label-text {
      color: var(--mirrorful-primary-500);
    }

    .mirrorful-radioItem-input:disabled ~ .mirrorful-radioItem-label-text {
      color: var(--mirrorful-neutral-100) !important;
    }
  }
  
  .mirrorful-radioItem-icon {
    margin-left: 8px;
    width: 14px;
    height: 14px;
  }
  
  .mirrorful-radioItem-icon-primary {
    color: var(--mirrorful-primary-300);
  }
  
  .mirrorful-radioItem-icon-secondary {
    color: var(--mirrorful-neutral-100);
  }
  
  .mirrorful-inner-circle {
    display: none;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
  }
