
.mirrorful-dataTable-container {
    width: 100%;
  }
  
  .mirrorful-dataTable-footer-container {
    padding: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--mirrorful-neutral-200);
    border-right: 1px solid var(--mirrorful-neutral-200);
    border-bottom: 1px solid var(--mirrorful-neutral-200);
  }
  
  .mirrorful-dataTable-footer-paginate {
    justify-content: flex-end;
  }
  
  .mirrorful-dataTable-footer-loading {
    justify-content: center;
  }
  
  .mirrorful-dataTable-paginate {
    display: flex;
    align-items: center;
  
    .mirrorful-dataTable-paginate-icon {
      width: 12px;
      height: 12px;
    }
  
    .mirrorful-dataTable-paginate-icon {
      width: 10px;
      height: 10px;
      cursor: pointer;
      color: var(--mirrorful-neutral-600);
      transition: all 200ms ease-in-out;
    }
  
    .mirrorful-dataTable-paginate-icon:hover {
      color: var(--mirrorful-neutral-600);
    }
  
    .mirrorful-dataTable-paginate-context {
      margin: 0 8px;
      font-size: 14px;
      color: var(--mirrorful-neutral-600);
    }
  }
  
