$color-acme-inc-purple: #9f7aea;
$color-acme-inc-purple-50: #fefeff;
$color-acme-inc-purple-100: #ebe4fb;
$color-acme-inc-purple-200: #d8c9f7;
$color-acme-inc-purple-300: #c5aff2;
$color-acme-inc-purple-400: #b294ee;
$color-acme-inc-purple-500: #9f7aea;
$color-acme-inc-purple-600: #8c60e6;
$color-acme-inc-purple-700: #7945e2;
$color-acme-inc-purple-800: #662bdd;
$color-acme-inc-purple-900: #5820ca;
$color-acme-inc-error-red: #ea7a92;
$color-acme-inc-error-red-50: #fffefe;
$color-acme-inc-error-red-100: #fbe4e9;
$color-acme-inc-error-red-200: #f7c9d3;
$color-acme-inc-error-red-300: #f2afbd;
$color-acme-inc-error-red-400: #ee94a8;
$color-acme-inc-error-red-500: #ea7a92;
$color-acme-inc-error-red-600: #e6607c;
$color-acme-inc-error-red-700: #e24567;
$color-acme-inc-error-red-800: #dd2b51;
$color-acme-inc-error-red-900: #ca2044;
$color-acme-inc-blue: #7aeae2;
$color-acme-inc-blue-50: #feffff;
$color-acme-inc-blue-100: #e4fbf9;
$color-acme-inc-blue-200: #c9f7f3;
$color-acme-inc-blue-300: #aff2ee;
$color-acme-inc-blue-400: #94eee8;
$color-acme-inc-blue-500: #7aeae2;
$color-acme-inc-blue-600: #60e6dc;
$color-acme-inc-blue-700: #45e2d6;
$color-acme-inc-blue-800: #2bddd1;
$color-acme-inc-blue-900: #20cabe;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;

:root {
  --color-acme-inc-purple: #9f7aea;
  --color-acme-inc-purple-50: #fefeff;
  --color-acme-inc-purple-100: #ebe4fb;
  --color-acme-inc-purple-200: #d8c9f7;
  --color-acme-inc-purple-300: #c5aff2;
  --color-acme-inc-purple-400: #b294ee;
  --color-acme-inc-purple-500: #9f7aea;
  --color-acme-inc-purple-600: #8c60e6;
  --color-acme-inc-purple-700: #7945e2;
  --color-acme-inc-purple-800: #662bdd;
  --color-acme-inc-purple-900: #5820ca;
  --color-acme-inc-error-red: #ea7a92;
  --color-acme-inc-error-red-50: #fffefe;
  --color-acme-inc-error-red-100: #fbe4e9;
  --color-acme-inc-error-red-200: #f7c9d3;
  --color-acme-inc-error-red-300: #f2afbd;
  --color-acme-inc-error-red-400: #ee94a8;
  --color-acme-inc-error-red-500: #ea7a92;
  --color-acme-inc-error-red-600: #e6607c;
  --color-acme-inc-error-red-700: #e24567;
  --color-acme-inc-error-red-800: #dd2b51;
  --color-acme-inc-error-red-900: #ca2044;
  --color-acme-inc-blue: #7aeae2;
  --color-acme-inc-blue-50: #feffff;
  --color-acme-inc-blue-100: #e4fbf9;
  --color-acme-inc-blue-200: #c9f7f3;
  --color-acme-inc-blue-300: #aff2ee;
  --color-acme-inc-blue-400: #94eee8;
  --color-acme-inc-blue-500: #7aeae2;
  --color-acme-inc-blue-600: #60e6dc;
  --color-acme-inc-blue-700: #45e2d6;
  --color-acme-inc-blue-800: #2bddd1;
  --color-acme-inc-blue-900: #20cabe;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
}
