:root {
  --color-purple: #9F7AEA;
  --color-purple-50: #fefeff;
  --color-purple-100: #ebe4fb;
  --color-purple-200: #d8c9f7;
  --color-purple-300: #c5aff2;
  --color-purple-400: #b294ee;
  --color-purple-500: #9f7aea;
  --color-purple-600: #8c60e6;
  --color-purple-700: #7945e2;
  --color-purple-800: #662bdd;
  --color-purple-900: #5820ca;
  --color-green: #e8ea7a;
  --color-green-50: #fffffe;
  --color-green-100: #fafbe4;
  --color-green-200: #f6f7c9;
  --color-green-300: #f1f2af;
  --color-green-400: #edee94;
  --color-green-500: #e8ea7a;
  --color-green-600: #e3e660;
  --color-green-700: #dfe245;
  --color-green-800: #dadd2b;
  --color-green-900: #c7ca20;
  --color-red: #ea7a7a;
  --color-red-50: #fffefe;
  --color-red-100: #fbe4e4;
  --color-red-200: #f7c9c9;
  --color-red-300: #f2afaf;
  --color-red-400: #ee9494;
  --color-red-500: #ea7a7a;
  --color-red-600: #e66060;
  --color-red-700: #e24545;
  --color-red-800: #dd2b2b;
  --color-red-900: #ca2020;
  --color-green-2: #7aeabd;
  --color-green-2-50: #feffff;
  --color-green-2-100: #e4fbf1;
  --color-green-2-200: #c9f7e4;
  --color-green-2-300: #aff2d7;
  --color-green-2-400: #94eeca;
  --color-green-2-500: #7aeabd;
  --color-green-2-600: #60e6b0;
  --color-green-2-700: #45e2a3;
  --color-green-2-800: #2bdd96;
  --color-green-2-900: #20ca85;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
}
