.mirrorful-notificationBanner {
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0px 10px 18px rgba(26, 45, 73, 0.15),
    0px 0px 1px rgba(26, 45, 73, 0.3);

  .mirrorful-notificationBanner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .mirrorful-notificationBanner-close-button {
    padding: 4px;
    border-radius: 4px;
    width: 32px;
    margin-left: 8px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-lg {
  display: flex;
  justify-content: space-between;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 60px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-xl {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}


.mirrorful-notificationBanner {

  .mirrorful-notificationBanner-icon {
  }

  .mirrorful-notificationBanner-close-button {
  }
}

.mirrorful-notificationBanner {
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0px 10px 18px rgba(26, 45, 73, 0.15),
    0px 0px 1px rgba(26, 45, 73, 0.3);

  .mirrorful-notificationBanner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .mirrorful-notificationBanner-close-button {
    padding: 4px;
    border-radius: 4px;
    width: 32px;
    margin-left: 8px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-lg {
  display: flex;
  justify-content: space-between;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 60px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-xl {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}


.mirrorful-notificationBanner-variant-primary {
  background-color: var(--mirrorful-primary-100);
  color: #ffffff;

  .mirrorful-notificationBanner-icon {
    color: #ffffff;
  }

  .mirrorful-notificationBanner-close-button {
    background-color: var(--mirrorful-primary-200);
  }
}

.mirrorful-notificationBanner {
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0px 10px 18px rgba(26, 45, 73, 0.15),
    0px 0px 1px rgba(26, 45, 73, 0.3);

  .mirrorful-notificationBanner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .mirrorful-notificationBanner-close-button {
    padding: 4px;
    border-radius: 4px;
    width: 32px;
    margin-left: 8px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-lg {
  display: flex;
  justify-content: space-between;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 60px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-xl {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}


.mirrorful-notificationBanner-variant-secondary {
  background-color: #ffffff;
  color: var(--mirrorful-neutral-100);
  border-width: 1px;
  border-color: var(--mirrorful-neutral-50);

  .mirrorful-notificationBanner-icon {
    color: var(--mirrorful-neutral-100);
  }

  .mirrorful-notificationBanner-close-button {
    background-color: var(--mirrorful-neutral-50);
  }
}

.mirrorful-notificationBanner {
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0px 10px 18px rgba(26, 45, 73, 0.15),
    0px 0px 1px rgba(26, 45, 73, 0.3);

  .mirrorful-notificationBanner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .mirrorful-notificationBanner-close-button {
    padding: 4px;
    border-radius: 4px;
    width: 32px;
    margin-left: 8px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-lg {
  display: flex;
  justify-content: space-between;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 60px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-xl {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}


.mirrorful-notificationBanner-variant-info {
  background-color: #EBF5F8;
  color: black;
  border-width: 1px;
  border-color: #E0E0E0;

  .mirrorful-notificationBanner-icon {
    color: var(--mirrorful-primary-100);
  }

  .mirrorful-notificationBanner-close-button {
    background-color: var(--mirrorful-primary-200);
  }
}

.mirrorful-notificationBanner {
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0px 10px 18px rgba(26, 45, 73, 0.15),
    0px 0px 1px rgba(26, 45, 73, 0.3);

  .mirrorful-notificationBanner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .mirrorful-notificationBanner-close-button {
    padding: 4px;
    border-radius: 4px;
    width: 32px;
    margin-left: 8px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-lg {
  display: flex;
  justify-content: space-between;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 60px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-xl {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}


.mirrorful-notificationBanner-variant-success {
  background-color: var(--mirrorful-success-100);
  color: #ffffff;

  .mirrorful-notificationBanner-icon {
  }

  .mirrorful-notificationBanner-close-button {
    background-color: var(--mirrorful-success-200);
  }
}

.mirrorful-notificationBanner {
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0px 10px 18px rgba(26, 45, 73, 0.15),
    0px 0px 1px rgba(26, 45, 73, 0.3);

  .mirrorful-notificationBanner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .mirrorful-notificationBanner-close-button {
    padding: 4px;
    border-radius: 4px;
    width: 32px;
    margin-left: 8px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-lg {
  display: flex;
  justify-content: space-between;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 60px;
  }
}

.mirrorful-notificationBanner-content.mirrorful-notificationBanner-size-xl {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;

  .mirrorful-notificationBanner-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}


.mirrorful-notificationBanner-variant-error {
  background-color: var(--mirrorful-error-100);
  color: #ffffff;

  .mirrorful-notificationBanner-icon {
  }

  .mirrorful-notificationBanner-close-button {
    background-color: var(--mirrorful-error-200);
  }
}
