.mirrorful-chip {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
  
    .mirrorful-chip-right-icon {
      margin-right: 8px;
    }
  
    .mirrorful-chip-left-icon {
      margin-left: 8px;
    }
  }

.mirrorful-chip {
}

.mirrorful-chip {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
  
    .mirrorful-chip-right-icon {
      margin-right: 8px;
    }
  
    .mirrorful-chip-left-icon {
      margin-left: 8px;
    }
  }

.mirrorful-chip-variant-primary {
    color: var(--mirrorful-primary-700);
    background-color: var(--mirrorful-primary-100);
}

.mirrorful-chip {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
  
    .mirrorful-chip-right-icon {
      margin-right: 8px;
    }
  
    .mirrorful-chip-left-icon {
      margin-left: 8px;
    }
  }

.mirrorful-chip-variant-gray {
    color: var(--mirrorful-neutral-700);
    background-color: var(--mirrorful-neutral-100);
}

.mirrorful-chip {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
  
    .mirrorful-chip-right-icon {
      margin-right: 8px;
    }
  
    .mirrorful-chip-left-icon {
      margin-left: 8px;
    }
  }

.mirrorful-chip-variant-green {
    color: var(--mirrorful-success-700);
    background-color: var(--mirrorful-success-100);
}

.mirrorful-chip {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
  
    .mirrorful-chip-right-icon {
      margin-right: 8px;
    }
  
    .mirrorful-chip-left-icon {
      margin-left: 8px;
    }
  }

.mirrorful-chip-variant-red {
    color: var(--mirrorful-error-700);
    background-color: var(--mirrorful-error-100);
}
