
.mirrorful-tabs {
  display: flex;
  transition: all 200ms ease-in-out;

  .mirrorful-tab {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: transparent;
  }

  .mirrorful-tab:hover {
    border-color: var(--mirrorful-primary-100);
  }

  .mirrorful-tab-active {
    font-weight: 600;
    border-color: var(--mirrorful-primary-500) !important;
  }
}

.mirrorful-tabs-left {
  flex-direction: column;

  .mirrorful-tab {
    border-left-width: 4px;
  }
}

.mirrorful-tabs-bottom {
  flex-direction: row;

  .mirrorful-tab {
    border-bottom-width: 4px;
  }
}

.mirrorful-tabs-sm {
  .mirrorful-tab {
    padding: 8px 12px;
  }
}

.mirrorful-tabs-lg {
  .mirrorful-tab {
    padding: 16px 24px;
  }
}
