$color-glacier-50: #e0eff4;
$color-glacier-100: #c9e3ed;
$color-glacier-200: #b2d8e5;
$color-glacier-300: #9bccdd;
$color-glacier-400: #84c1d6;
$color-glacier-500: #6db5ce;
$color-glacier-600: #56a9c6;
$color-glacier-700: #409dbe;
$color-glacier-800: #388aa7;
$color-glacier-900: #307790;
$color-glacier-base: #6db5ce;
$color-amethyst-50: #ede0f4;
$color-amethyst-100: #dfc9ed;
$color-amethyst-200: #d2b2e5;
$color-amethyst-300: #c59bdd;
$color-amethyst-400: #b784d6;
$color-amethyst-500: #aa6dce;
$color-amethyst-600: #9d56c6;
$color-amethyst-700: #8f40be;
$color-amethyst-800: #7e38a7;
$color-amethyst-900: #6d3090;
$color-amethyst-base: #aa6dce;
$color-whiskey-50: #f4eae0;
$color-whiskey-100: #eddac9;
$color-whiskey-200: #e5cbb2;
$color-whiskey-300: #ddbb9b;
$color-whiskey-400: #d6ac84;
$color-whiskey-500: #ce9c6d;
$color-whiskey-600: #c68c56;
$color-whiskey-700: #be7d40;
$color-whiskey-800: #a76e38;
$color-whiskey-900: #905f30;
$color-whiskey-base: #ce9c6d;
$color-mantis-50: #e1f4e0;
$color-mantis-100: #ccedc9;
$color-mantis-200: #b6e5b2;
$color-mantis-300: #a0dd9b;
$color-mantis-400: #8bd684;
$color-mantis-500: #75ce6d;
$color-mantis-600: #5fc656;
$color-mantis-700: #4abe40;
$color-mantis-800: #41a738;
$color-mantis-900: #389030;
$color-mantis-base: #75ce6d;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-short: 1;
$line-height-normal: 1.5;
$line-height-tall: 2;
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-glacier-50: #e0eff4;
  --color-glacier-100: #c9e3ed;
  --color-glacier-200: #b2d8e5;
  --color-glacier-300: #9bccdd;
  --color-glacier-400: #84c1d6;
  --color-glacier-500: #6db5ce;
  --color-glacier-600: #56a9c6;
  --color-glacier-700: #409dbe;
  --color-glacier-800: #388aa7;
  --color-glacier-900: #307790;
  --color-glacier-base: #6db5ce;
  --color-amethyst-50: #ede0f4;
  --color-amethyst-100: #dfc9ed;
  --color-amethyst-200: #d2b2e5;
  --color-amethyst-300: #c59bdd;
  --color-amethyst-400: #b784d6;
  --color-amethyst-500: #aa6dce;
  --color-amethyst-600: #9d56c6;
  --color-amethyst-700: #8f40be;
  --color-amethyst-800: #7e38a7;
  --color-amethyst-900: #6d3090;
  --color-amethyst-base: #aa6dce;
  --color-whiskey-50: #f4eae0;
  --color-whiskey-100: #eddac9;
  --color-whiskey-200: #e5cbb2;
  --color-whiskey-300: #ddbb9b;
  --color-whiskey-400: #d6ac84;
  --color-whiskey-500: #ce9c6d;
  --color-whiskey-600: #c68c56;
  --color-whiskey-700: #be7d40;
  --color-whiskey-800: #a76e38;
  --color-whiskey-900: #905f30;
  --color-whiskey-base: #ce9c6d;
  --color-mantis-50: #e1f4e0;
  --color-mantis-100: #ccedc9;
  --color-mantis-200: #b6e5b2;
  --color-mantis-300: #a0dd9b;
  --color-mantis-400: #8bd684;
  --color-mantis-500: #75ce6d;
  --color-mantis-600: #5fc656;
  --color-mantis-700: #4abe40;
  --color-mantis-800: #41a738;
  --color-mantis-900: #389030;
  --color-mantis-base: #75ce6d;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
