.button {
  display: flex;
  height: 2.5rem;
  touch-action: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(204 20% 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 10% 10%);
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: hsl(204 20% 96%);
}

.button[aria-disabled='true'] {
  opacity: 0.5;
}

.button[aria-expanded='true'] {
  background-color: hsl(204 20% 96%);
}

.button[data-focus-visible] {
  outline-style: solid;
}

.button:active,
.button[data-active] {
  transform: scale(0.98);
}

.button:active[aria-expanded='true'],
.button[data-active][aria-expanded='true'] {
  transform: scale(1);
}

:is(.dark .button) {
  background-color: hsl(204 20% 100% / 0.05);
  color: hsl(204 20% 100%);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 -1px 0 1px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

:is(.dark .button:hover) {
  background-color: hsl(204 20% 100% / 0.1);
}

:is(.dark .button)[aria-expanded='true'] {
  background-color: hsl(204 20% 100% / 0.1);
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}
