.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
  padding: 1rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

:is(.dark .wrapper) {
  background-color: hsl(204 3% 18%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.25),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.combobox {
  height: 2.5rem;
  width: 250px;
  border-radius: 0.375rem;
  border-style: none;
  background-color: hsl(204 20% 94% / 0.4);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 10% 10%);
  outline-width: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
    inset 0 0 0 1px rgba(0 0 0 / 0.1),
    inset 0 2px 5px 0 rgba(0 0 0 / 0.05);
}

.combobox::placeholder {
  color: hsl(204 10% 10% / 0.6);
}

.combobox:hover {
  background-color: hsl(204 20% 94%);
}

.combobox[data-focus-visible] {
  outline-style: solid;
}

:is(.dark .combobox) {
  background-color: hsl(204 3% 12%);
  color: hsl(204 20% 100%);
  box-shadow:
    inset 0 0 0 1px rgba(255 255 255 / 0.12),
    inset 0 -1px 0 0 rgba(255 255 255 / 0.05),
    inset 0 2px 5px 0 rgba(0 0 0 / 0.15);
}

:is(.dark .combobox)::placeholder {
  color: hsl(204 20% 100% / 46%);
}

:is(.dark .combobox:hover) {
  background-color: hsl(204 3% 10%);
}

.popover {
  position: relative;
  z-index: 50;
  display: flex;
  max-height: min(var(--popover-available-height, 300px), 300px);
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 10% 10%);
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

:is(.dark .popover) {
  border-color: hsl(204 3% 26%);
  background-color: hsl(204 3% 18%);
  color: hsl(204 20% 100%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.combobox-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.combobox-item:hover {
  background-color: hsl(204 100% 80% / 0.4);
}

.combobox-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

:is(.dark .combobox-item:hover) {
  background-color: hsl(204 100% 40% / 0.25);
}

:is(.dark .combobox-item)[data-active-item] {
  background-color: hsl(204 100% 40%);
}
