.wrapper {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  width: 500px;
  max-width: 100%;
  align-self: flex-start;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

:is(.dark .wrapper) {
  background-color: hsl(204 3% 18%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.25),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button {
  display: flex;
  height: 3.5rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-underline-offset: 2px;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus-visible,
.button[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0px;
}
