.tooltip {
  cursor: default;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: hsl(204 20% 82%);
  background-color: hsl(204 20% 94%);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(204 10% 10%);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

:is(.dark .tooltip) {
  border-color: hsl(204 3% 26%);
  background-color: hsl(204 3% 18%);
  color: hsl(204 20% 100%);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.15);
}

.link {
  font-weight: 500;
  color: hsl(204 100% 35%);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25em;
}

.link:hover {
  text-decoration-thickness: 3px;
}

:is(.dark .link) {
  color: hsl(204 100% 64%);
}
