body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #effbfc;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
