
.mirrorful-card {
    border-width: 1px;
    border-color: var(--mirrorful-neutral-200);
    border-radius: 8px;
    transition: all 200ms ease-in-out;
    overflow: hidden;

    .mirrorful-card-header {
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom-width: 1px;
        border-bottom-color: var(--mirrorful-neutral-200);
        border-bottom-style: solid;
    }

    .mirrorful-card-body {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .mirrorful-card-footer {
        display: flex;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-top-width: 1px;
        border-top-color: var(--mirrorful-neutral-200);
        border-top-style: solid;
    }
}

.mirrorful-card-clickable {
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 1px 0px #1A2D494D, 0px 8px 12px 0px #1A2D4926;
    }
}
