
.mirrorful-modal-container {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mirrorful-modal-overlay {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .mirrorful-modal {
    position: fixed;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    min-width: 400px;
  }
  
  .mirrorful-modal-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .mirrorful-modal-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms;
  }
  
  .mirrorful-modal-exit {
    opacity: 1;
  }
  
  .mirrorful-modal-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: all 200ms;
  }
  
  .mirrorful-modal-header {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
  
  .mirrorful-modal-header-close-icon {
    cursor: pointer;
  }
  
  .mirrorful-modal-body {
    padding: 12px;
  }
  
  .mirrorful-modal-footer {
    padding: 10px 12px;
  }
  
  .mirrorful-modal-header ~ .mirrorful-modal-body {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--mirrorful-neutral-200);
  }
  
  .mirrorful-modal-body ~ .mirrorful-modal-footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--mirrorful-neutral-200);
  }
