$color-purple-50: #b99afa;
$color-purple-100: #a57df8;
$color-purple-200: #9160f7;
$color-purple-300: #7d43f6;
$color-purple-400: #6926f4;
$color-purple-500: #560cef;
$color-purple-600: #4c0bd2;
$color-purple-700: #4109b5;
$color-purple-800: #370898;
$color-purple-900: #2c067a;
$color-purple-base: #560cef;
$color-medium-red-violet-50: #e897da;
$color-medium-red-violet-100: #e37dd1;
$color-medium-red-violet-200: #dd64c8;
$color-medium-red-violet-300: #d84bbf;
$color-medium-red-violet-400: #d332b6;
$color-medium-red-violet-500: #bd29a3;
$color-medium-red-violet-600: #a4248d;
$color-medium-red-violet-700: #8b1e78;
$color-medium-red-violet-800: #721962;
$color-medium-red-violet-900: #58134c;
$color-medium-red-violet-base: #bd29a3;
$color-citron-50: #dbe897;
$color-citron-100: #d2e37d;
$color-citron-200: #cadd64;
$color-citron-300: #c1d84b;
$color-citron-400: #b8d332;
$color-citron-500: #a5bd29;
$color-citron-600: #8fa424;
$color-citron-700: #798b1e;
$color-citron-800: #637219;
$color-citron-900: #4d5813;
$color-citron-base: #a5bd29;
$color-white-50: #ffffff;
$color-white-100: #ffffff;
$color-white-200: #ffffff;
$color-white-300: #ffffff;
$color-white-400: #ffffff;
$color-white-500: #ffffff;
$color-white-600: #f1f1f1;
$color-white-700: #e0e0e0;
$color-white-800: #d1d1d1;
$color-white-900: #c2c2c2;
$color-white-base: #ffffff;
$color-dark-bg-50: #707070;
$color-dark-bg-100: #616161;
$color-dark-bg-200: #525252;
$color-dark-bg-300: #434343;
$color-dark-bg-500: #242424;
$color-dark-bg-600: #151515;
$color-dark-bg-700: #050505;
$color-dark-bg-800: #000000;
$color-dark-bg-900: #000000;
$color-dark-bg-base: #242424;
$color-dark-bg-text: #121620;
$color-secondary-50: #97e7e8;
$color-secondary-100: #7de2e3;
$color-secondary-200: #64dcdd;
$color-secondary-300: #4bd6d8;
$color-secondary-400: #32d0d3;
$color-secondary-500: #29bbbd;
$color-secondary-600: #24a2a4;
$color-secondary-700: #1e898b;
$color-secondary-800: #197072;
$color-secondary-900: #135758;
$color-secondary-base: #29bbbd;
$font-size-sm: 1em;
$font-size-md: 1.2em;
$font-size-lg: 1.4em;
$font-size-xlg: 3.2em;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-short: 1.1;
$line-height-normal: 1.5;
$line-height-tall: 2;
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-purple-50: #b99afa;
  --color-purple-100: #a57df8;
  --color-purple-200: #9160f7;
  --color-purple-300: #7d43f6;
  --color-purple-400: #6926f4;
  --color-purple-500: #560cef;
  --color-purple-600: #4c0bd2;
  --color-purple-700: #4109b5;
  --color-purple-800: #370898;
  --color-purple-900: #2c067a;
  --color-purple-base: #560cef;
  --color-medium-red-violet-50: #e897da;
  --color-medium-red-violet-100: #e37dd1;
  --color-medium-red-violet-200: #dd64c8;
  --color-medium-red-violet-300: #d84bbf;
  --color-medium-red-violet-400: #d332b6;
  --color-medium-red-violet-500: #bd29a3;
  --color-medium-red-violet-600: #a4248d;
  --color-medium-red-violet-700: #8b1e78;
  --color-medium-red-violet-800: #721962;
  --color-medium-red-violet-900: #58134c;
  --color-medium-red-violet-base: #bd29a3;
  --color-citron-50: #dbe897;
  --color-citron-100: #d2e37d;
  --color-citron-200: #cadd64;
  --color-citron-300: #c1d84b;
  --color-citron-400: #b8d332;
  --color-citron-500: #a5bd29;
  --color-citron-600: #8fa424;
  --color-citron-700: #798b1e;
  --color-citron-800: #637219;
  --color-citron-900: #4d5813;
  --color-citron-base: #a5bd29;
  --color-white-50: #ffffff;
  --color-white-100: #ffffff;
  --color-white-200: #ffffff;
  --color-white-300: #ffffff;
  --color-white-400: #ffffff;
  --color-white-500: #ffffff;
  --color-white-600: #f1f1f1;
  --color-white-700: #e0e0e0;
  --color-white-800: #d1d1d1;
  --color-white-900: #c2c2c2;
  --color-white-base: #ffffff;
  --color-dark-bg-50: #707070;
  --color-dark-bg-100: #616161;
  --color-dark-bg-200: #525252;
  --color-dark-bg-300: #434343;
  --color-dark-bg-500: #242424;
  --color-dark-bg-600: #151515;
  --color-dark-bg-700: #050505;
  --color-dark-bg-800: #000000;
  --color-dark-bg-900: #000000;
  --color-dark-bg-base: #242424;
  --color-dark-bg-text: #121620;
  --color-secondary-50: #97e7e8;
  --color-secondary-100: #7de2e3;
  --color-secondary-200: #64dcdd;
  --color-secondary-300: #4bd6d8;
  --color-secondary-400: #32d0d3;
  --color-secondary-500: #29bbbd;
  --color-secondary-600: #24a2a4;
  --color-secondary-700: #1e898b;
  --color-secondary-800: #197072;
  --color-secondary-900: #135758;
  --color-secondary-base: #29bbbd;
  --font-size-sm: 1em;
  --font-size-md: 1.2em;
  --font-size-lg: 1.4em;
  --font-size-xlg: 3.2em;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1.1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
