$color-medium-purple-50: #ffffff;
$color-medium-purple-100: #f4effc;
$color-medium-purple-200: #ddd0f8;
$color-medium-purple-300: #c7b1f3;
$color-medium-purple-400: #b599ef;
$color-medium-purple-500: #9f7aea;
$color-medium-purple-600: #895be5;
$color-medium-purple-700: #6124dc;
$color-medium-purple-800: #531ebe;
$color-medium-purple-900: #46199f;
$color-medium-purple-base: #9f7aea;
$color-yellow-green-50: #ffffff;
$color-yellow-green-100: #f9fcef;
$color-yellow-green-200: #edf8d0;
$color-yellow-green-300: #e1f3b1;
$color-yellow-green-400: #d7ef99;
$color-yellow-green-500: #cbea7a;
$color-yellow-green-600: #bfe55b;
$color-yellow-green-700: #a9dc24;
$color-yellow-green-800: #92be1e;
$color-yellow-green-900: #7a9f19;
$color-yellow-green-base: #cbea7a;
$color-algae-green-50: #ffffff;
$color-algae-green-100: #effcf5;
$color-algae-green-200: #d0f8e3;
$color-algae-green-300: #b1f3d0;
$color-algae-green-400: #99efc1;
$color-algae-green-500: #7aeaae;
$color-algae-green-600: #5be59b;
$color-algae-green-700: #24dc79;
$color-algae-green-800: #1ebe68;
$color-algae-green-900: #199f58;
$color-algae-green-base: #7aeaae;
$color-deep-blush-50: #ffffff;
$color-deep-blush-100: #fceff3;
$color-deep-blush-200: #f8d0dc;
$color-deep-blush-300: #f3b1c5;
$color-deep-blush-400: #ef99b3;
$color-deep-blush-500: #ea7a9c;
$color-deep-blush-600: #e55b85;
$color-deep-blush-700: #dc245c;
$color-deep-blush-800: #be1e4f;
$color-deep-blush-900: #9f1942;
$color-deep-blush-base: #ea7a9c;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-short: 1;
$line-height-normal: 1.5;
$line-height-tall: 2;
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-medium-purple-50: #ffffff;
  --color-medium-purple-100: #f4effc;
  --color-medium-purple-200: #ddd0f8;
  --color-medium-purple-300: #c7b1f3;
  --color-medium-purple-400: #b599ef;
  --color-medium-purple-500: #9f7aea;
  --color-medium-purple-600: #895be5;
  --color-medium-purple-700: #6124dc;
  --color-medium-purple-800: #531ebe;
  --color-medium-purple-900: #46199f;
  --color-medium-purple-base: #9f7aea;
  --color-yellow-green-50: #ffffff;
  --color-yellow-green-100: #f9fcef;
  --color-yellow-green-200: #edf8d0;
  --color-yellow-green-300: #e1f3b1;
  --color-yellow-green-400: #d7ef99;
  --color-yellow-green-500: #cbea7a;
  --color-yellow-green-600: #bfe55b;
  --color-yellow-green-700: #a9dc24;
  --color-yellow-green-800: #92be1e;
  --color-yellow-green-900: #7a9f19;
  --color-yellow-green-base: #cbea7a;
  --color-algae-green-50: #ffffff;
  --color-algae-green-100: #effcf5;
  --color-algae-green-200: #d0f8e3;
  --color-algae-green-300: #b1f3d0;
  --color-algae-green-400: #99efc1;
  --color-algae-green-500: #7aeaae;
  --color-algae-green-600: #5be59b;
  --color-algae-green-700: #24dc79;
  --color-algae-green-800: #1ebe68;
  --color-algae-green-900: #199f58;
  --color-algae-green-base: #7aeaae;
  --color-deep-blush-50: #ffffff;
  --color-deep-blush-100: #fceff3;
  --color-deep-blush-200: #f8d0dc;
  --color-deep-blush-300: #f3b1c5;
  --color-deep-blush-400: #ef99b3;
  --color-deep-blush-500: #ea7a9c;
  --color-deep-blush-600: #e55b85;
  --color-deep-blush-700: #dc245c;
  --color-deep-blush-800: #be1e4f;
  --color-deep-blush-900: #9f1942;
  --color-deep-blush-base: #ea7a9c;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
