$color-brand: #09ed70;
$color-brand-500: #09ed70;
$color-secondary: #7d7c7c;
$color-secondary-500: #7d7c7c;
$color-primary: #171717;
$color-primary-500: #171717;

:root {
  --color-brand: #09ed70;
  --color-brand-500: #09ed70;
  --color-secondary: #7d7c7c;
  --color-secondary-500: #7d7c7c;
  --color-primary: #171717;
  --color-primary-500: #171717;
}
