:root {
  --color-nuxt-green: #09ed70;
  --color-nuxt-green-500: #09ed70;
  --color-blue: #0928ed;
  --color-blue-500: #0928ed;
  --color-red: #ed0946;
  --color-red-500: #ed0946;
  --color-orange: #ed9709;
  --color-orange-500: #ed9709;
}
