$color-pink: #ED64A6;
$color-pink-50: #fdedf5;
$color-pink-100: #fad2e5;
$color-pink-200: #f7b6d5;
$color-pink-300: #f39bc5;
$color-pink-400: #f07fb6;
$color-pink-500: #ed64a6;
$color-pink-600: #ea4996;
$color-pink-700: #e72d86;
$color-pink-800: #dc1a77;
$color-pink-900: #c01668;

:root {
--color-pink: #ED64A6;
--color-pink-50: #fdedf5;
--color-pink-100: #fad2e5;
--color-pink-200: #f7b6d5;
--color-pink-300: #f39bc5;
--color-pink-400: #f07fb6;
--color-pink-500: #ed64a6;
--color-pink-600: #ea4996;
--color-pink-700: #e72d86;
--color-pink-800: #dc1a77;
--color-pink-900: #c01668;
}
