
.mirrorful-calendar {
    transition: all 200ms ease-in-out;
    display: flex;
    gap: 24px;

    .mirrorful-calendar-container {
        display: flex;
        flex-direction: column;

        .mirrorful-calendar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .mirrorful-calendar-header-text {
            font-size: 14px;
            font-weight: 600;
            margin: 0 14px;
        }

        .mirrorful-calendar-header-icon-button {
            background-color: transparent;
            width: 32px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            .mirrorful-calendar-header-icon {
                width: 16px;
                height: 16px;
                cursor: pointer;
                color: var(--mirrorful-neutral-600);
            }
        }

        .mirrorful-calendar-header-icon-button:hover {
            background-color: var(--mirrorful-neutral-100);
        }

        .mirrorful-calendar-header-icon-button:active {
            background-color: var(--mirrorful-neutral-200);
        }

        .mirrorful-calendar-header-icon {
            width: 14px;
            height: 14px;
            cursor: pointer;
        }
    }

    .mirrorful-calendar-body {
        display: flex;
        align-items: flex-start;
    }

    .mirrorful-calendar-table {
        display: table;
        border-collapse: collapse; 

        .mirrorful-calendar-weekday-row {
            display: table-row;
            border-bottom: 1px solid gray;

            .mirrorful-calendar-cell {
                font-weight: 600;
            }
        }

        .mirrorful-calendar-cell {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border: none;
            width: auto;
            background: transparent;
            width: 40px;
            height: 40px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 50%;
        }

        .mirrorful-calendar-cell:hover {
            background-color: var(--mirrorful-primary-300);
            color: #ffffff;
        }

        .mirrorful-calendar-cell-disabled {
            color: var(--mirrorful-neutral-400);
            font-weight: 400;
            background-color: transparent;
        }

        .mirrorful-calendar-cell-disabled:hover {
            background-color: transparent;
            color: var(--mirrorful-neutral-400);
        }

        .mirrorful-calendar-cell-in-range {
            background-color: var(--mirrorful-primary-300);
            color: #ffffff;
            border-radius: 0;
        }

        .mirrorful-calendar-cell-in-range:hover {
            background-color: var(--mirrorful-primary-300);
            color: #ffffff;
        }

        .mirrorful-calendar-cell-selected {
            background-color: var(--mirrorful-primary-100) !important;
            color: #ffffff !important;
        }

        .mirrorful-calendar-cell-selected-left {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .mirrorful-calendar-cell-selected-right {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
